extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Foodhound is a free to use restaurant search service created by Old Dog Studios to showcase that there is a wealth of untapped IT talent from the old days if one were just to give them a chance and some training.
        p Main background photography by Olenka Kotyk
        p Data services by Zomato
